
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --pale: #FEF2F2;
    --orange:#F26440;
    --green: #286F6C;
    --gray: #ADADAD;
    --WHITE: #FFFFFF;
    --BEIGE: #F9F5F2;
}

@media screen and (min-width: 320px) {
.front-tittle{
    font-size: 40px;
 }
.circle--front{
    width: 180px;
     height: 180px;
     left: 39%;
     top: 32%;
}
 .img-container{
    right: -20%;
 }
.social-media{
    position: absolute;
    left: 5%;
    bottom: 50px;
}
.container-shadow{
    max-width: 100%;
    max-height: 40%;
}
footer{
    margin-top: -150px;

}
}

@media screen and (min-width: 768px) {
.header{
    height: 437px;
}

.circle--front {
    left: 55%;
    width: 300px;
    height: 300px;
    top: -19%;
    }

.img-container{
    width: 314px;
    position: absolute;
    right: 17%;
    top: -22%;
}

.social-media{
display: flex;
position: initial;
margin-left: 10%;
gap: 40px;
margin-top: 34px;
}

.social-media__icon{
     width: 60px;
    height: 60px;
}

.front-icon{
    width: 2rem;
    padding: 2px;
}

.front-tittle{
 width: 40%;
 margin-left: 10%;
}

.information{
flex-direction: row;
gap: 52px;
}

.portafolio-position_down {
    top: 60px;
    right: -30%;
}

.container-img{
    margin-left: 75%;
}
.container-shadow{
    max-width: 65%;
    max-height: 40%;
}
}




@media screen and (min-width: 1024px) {
.front-tittle{
    font-size: 80px;
}
.img-container{
    width: 300px;
    position: absolute;
    top: -8.8%;
    right: 35%;
}

.circle--front{
    top: -2%;
    left: 54%;
}
.container{
    margin-left: 3%;

}
.nav-menu__box::after{
    display: none;

}
.nav-menu{
     display:none;
}
.nav-menu__link{
    color: var(--gray);
}
    
.nav-menu__box{
     display: flex;
    justify-content: flex-end;
     gap: 3%;
     position: initial;
    background-color: var(--pale);
    margin-top: 0;
    transform: translateY(0);
}

.subtittle{
    margin-left: 14%;
    font-size: 40px;
}

.main__paragraph{
    padding: 0 8.5rem;
}
.circle-container{
    top: -10px;
}
.circle-green{
    width: 350px;
    height: 350px;
}
.circle-orange{
    width: 150px;
    height: 150px;
    top:100px;
    left: 15%;
}
.articles{
    margin-left: 35%;
}
.article-list{
    width: 182px;
    right: 0%;
}
.app{
    position: absolute;
    top: 8%;
    left: 40%;  
}
.apps{
    position: absolute;
    top: 18%;
    left: 57%;
    width: 32%;
}
.experiences-container{
    display: flex;
    column-gap: 5%;
    height: 200px;
    width: 95%;
}
.container-shadow{
    max-width: 48%;
    max-height: 97%;
}
.portafolio-position_down {
    top: -211px;
    left: 51%;
}
.portafolio{
    height: 40rem;
}
footer{
    padding-top: 15%;
}
.circle-blue{
    top: 46%;
    width: 300px;
    height: 300px;
    left: -10%;
}
.articles::-webkit-scrollbar{
    display: none;
}
}